node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# envs
envs/.env.development
envs/.env.test
envs/.env.production
src/aws-exports.js

# testing
coverage/
.eslintcache